:root {
    --header-color: #f5ebe0;
    --content-bg-color: #e3d5ca;
    --content-card-color: #d5bdaf;
    --button-colors: #b6c197;
}


body {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}


.header {
    background-color: var(--header-color);
    grid-column: 2/4;
    padding: 30px 60px 5px 60px;
    box-shadow: 0px 3px 10px var(--content-card-color);

    position: relative;
    z-index: 10;
}
.navbar {
    display: flex;

     /* put search-navbar and user-navbar at far left and far right */
    justify-content: space-between; 
}
.search-navbar {
    display: flex;
}
.search-navbar input[type="search"] {
    appearance: none;
    border: none;
    border-radius: 15px 0 0 15px;
    width: 50vw;
    height: 33px;
}
.search-navbar button:not(input[type="search"]) {
    appearance: none;
    border: none;
    width: 40px;
    height: 33px;
    background-color: var(--button-colors);
    background-image: url(images/magnify.svg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0 15px 15px 0;
}
.search-navbar button:not(input[type="search"]):hover {
    cursor: pointer;
    opacity: 0.5;
}
.user-navbar {
    display: flex;
    gap: 10px;
}
.user-navbar img[src="images/snowball.jpg"] {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.user-navbar img[src="images/bell-ring.svg"] {
    width: 23px;
    height: auto;
    margin-bottom: 8px;
}
.user-navbar img[src="images/bell-ring.svg"]:hover {
    opacity: 0.5;
    cursor: pointer;
}
.user-info-wrapper {
    display: flex;
    justify-content: space-between;
}
.left {
    /* Explicitly make profile picture arrange horizontally */
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-content: center;
}
.right {
    display: flex;
    align-items: center;
    gap: 35px;
}
.user-info-wrapper img {
    /* user profile picture */
    width: 75px;
    height: 75px;
    border-radius: 100%;
}
.usesr-intro {
    /* Style for the username */
    display: flex;
    flex-direction: column;
}
.user-info-wrapper button {
    appearance: none;
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 15px;
    font-size: 15px;
    background-color: var(--button-colors);
}


.dashboard {
    background-color: var(--button-colors);
    grid-column: 1/2;
    grid-row: 1/3;
}
.dashboard img {
    height: auto;
    width: 25px;
}
.menu, .dashboard-header {
    display: flex;
    padding: 10px 40px;
}
.menu > img, .dashboard-header > img {
    padding-right: 20px;
}
.dashboard-header {
    font-size: 25px;
    padding-bottom: 20px;
}
.menu:hover {
    background-color: #a1a775;
    cursor: pointer;
}


.content {
    background-color: var(--content-bg-color);
    grid-column: 2/4;  /* Outer grid layout */
    grid-row: 2/3;

    display: grid;
    grid-template-columns: 3fr 1fr;
}
.project-wrapper {
    padding: 30px;
    display: grid;  /** grid for the project cards */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.card {
    padding: 15px;
    margin: 30px;

    height: 200px;
    background-color: var(--content-card-color);
}


.side-content {
    grid-column: 2/3;
    grid-row: 1/2;
}
.announcement {
    background-color: var(--content-card-color);

}
.announcement-card {
    margin: 30px;
}
.trending {
    background-color: var(--content-card-color);
}
.other-user-card {
    margin: 30px;
}
